{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Edit <span>{{ object.name }}</span></h1>
    {% else %}
        <h1>Add a Child</h1>
    {% endif %}
    <form action="" method="post" >
        {%csrf_token%}
    <table>
        {{form.as_table}}
    </table>
    

    <input type="submit" value="Add Child" class="btn btn-secondary" name="" id="">
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script>
        $('#id_date_of_birth').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
        


{% endblock %}
