{%extends 'base.html'%}
{%block content%}

<h1>Details</h1>


<div class="card">

    <div class="card-body">
        <h1>outside the div</h1>
        <span class="details">{{event.name}}</span>
        <p class="details">Description:{{event.description}}</p>
        <a href="{% url 'events_update' event.id%}" class="btn btn-warning">Edit</a>
        <a href="{% url 'events_delete' event.id%}" class="btn btn-danger">Delete</a>
        {% for child in event.child_set.all%}
        <span>{{child.name}}</span>
        <p>{{child.date_of_birth}}</p>
        <p>Description:{{child.description}}</p>


        {% endfor %}
        <p style="color: #27476e;">{{child.name}}</p>
        <p style="color:#27476e;">{{child.get_description_display}}</p>

    </div>
</div>








{% endblock %}